
<div class="chat-body">
    <div class="message">
        <div class="message-image">
        </div>

        <div class="message-preview">
            <h4>Celeste</h4>
            <text1>
                This is a test message for display reasons only to see how long this message can
                be and how to reduce it's size to a specific number.
            </text1>
            <footer>16:00</footer>
        </div>
    </div>
</div>
<div class="chat-input">
    <input type="text" />
    <button><img src="~/img/send.svg" class="svg-icon"/></button>
</div>